body {
    background-color: whitesmoke !important;
}

/*Transparent navigation bar*/
#navigation-bar {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

/*Pulling the carousel below the navbar*/
.below-nav {
  margin-top: 54px;
}

.carousel-caption p, .carousel-caption h5 {
  color: #fff;
}

.carousel-caption {
  /*Using override duo to full-width component.*/
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  /*Override over*/
  background-color: rgba(0, 0, 0, 0.5);
}
